.form-container {
    padding: 20px;
    margin: 20px auto ;
    /* margin: 20px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    width: 600px;
}

.form {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.form-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form input {
    margin: 10px 20px;
    width: 300px;
    height: 40px;
    padding: 5px;
}

.form #signup-btn {
    width: 200px;
    height: 50px;
    outline: none;
    border: none;
    background: #ff5a5a;
    color: #ffff;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    margin: auto;
}

.signin {
    display: inline;
}

/* .checkbox {
    display: flex;
    flex-direction: row;
} */